<div style=" max-width: 700px;">
  <div class="img-fluid ">
    <div id="{{id}}" class="carousel slide MDView" data-ride="carousel" data-wrap="true" data-interval="0" >
      <ol class="carousel-indicators"  *ngIf="ImageLinks?.length > 1">
        <li data-target="#carouselExampleIndicators" [attr.data-slide-to]="i" *ngFor="let il of ImageLinks; let isFirst = first; let i = index"  [class.active]="isFirst"></li>
      </ol>
      <div class="carousel-inner"  >
        <div class="carousel-item" *ngFor="let il of ImageLinks; let isFirst = first; let i = index" [class.active]="isFirst">
          <a [href]="getImg(i)" [attr.data-lightbox]="id">
            <img class="img-fluid "  alt="slide {{i}} [800x400]" [src]="getImg(i)" data-holder-rendered="true">
          </a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#{{id}}" role="button" data-slide="prev" *ngIf="ImageLinks?.length > 1">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#{{id}}" role="button" data-slide="next" *ngIf="ImageLinks?.length > 1">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

