
html, body {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100vh;
  margin: 0;
}

section {
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.mainPageGrid {
  height: 100vh;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 200px 1fr;
  grid-template-rows:  50px auto 25px;
  grid-template-areas:
    "h h"
    "m c"
    "f f";
}

.cpre {
  white-space: pre-wrap;
  font-size: 100%;
  font-family: inherit;
}

/*.mainPageGrid > div {*/
/*  display: flex;*/

/*}*/

.mainPageGridHeader
{
  grid-area: h;
}

.mainPageGridMenu
{
  grid-area: m;
}

.mainPageGridContent
{
  grid-area: c;
  overflow:auto ;
}

.mainPageGridContent > div
{
  max-height:100%;
  max-width: 100%;
  overflow:auto ;
}

.mainPageGridFooter
{  grid-area: f;
  max-height:100%;
  max-width: 100%;
}
