/* You can add global styles to this file, and also import other style files */
@media (min-width: 360px) {
  body {
    padding-top: 60px;
   /* padding-bottom: 42px;*/
  }

}


div.wrapper{
  float:left; /* important */
  position:relative; /* important(so we can absolutely position the description div */
}
div.description{
  position:absolute; /* absolute position (so we can position it where we want)*/
  bottom:0px; /* position will be on bottom */
  left:0px;
  width:100%;
  /* styling bellow */
  background-color:black;
  color:white;
  opacity:0.6; /* transparency */
  filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
  padding:10px;
  margin:0px;
  font-size: 30px;
}


#CenterWrapper
{
  display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.MDView
{
  min-width: calc(100vh - 200px);
  min-height: calc(100vh - 400px);
  max-width: calc(100vh - 200px);
  max-height: calc(100vh - 400px);
  overflow: hidden;
}

img{
  max-width: calc(100vh - 200px);
  max-height: calc(100vh - 400px);
  overflow: hidden;

}

.Offset20pxLeft
{

  Margin: 0px 15px;

}
