<style>
  .layoutLeftGrid{
    display: grid;
    grid-template-columns: 375px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "I T";
    grid-gap: 5px;
  }

  .layoutLeftImage{
    grid-area: I;
  }

  .layoutLeftText{
    grid-area: T;
  }
</style>
<section>
  <div class="layoutLeftGrid">
    <div class="layoutLeftImage">
      <pm-carousel [ImageLinks]="partInfo.imagePart"></pm-carousel>
    </div>
    <div class="layoutLeftText">
      <pre class="cpre">{{partInfo.textPart}}</pre>
    </div>
  </div>
</section>
